/* Highlight.js */
.hljs {
  &-emphasis,
  &-strong { color: #a8a8a2; }

  &-bullet,
  &-link,
  &-literal,
  &-number,
  &-quote,
  &-regexp { color: #ae81ff; }

  &-code,
  &-section,
  &-selector-class,
  &-title { color: #a6e22e; }

  &-strong { font-weight: 700; }
  &-emphasis { font-style: italic; }

  &-attr,
  &-keyword,
  &-name,
  &-selector-tag { color: var(--error); }

  &-attribute,
  &-symbol { color: #66d9ef; }

  &-class .hljs-title,
  &-params { color: #f8f8f2; }

  &-addition,
  &-built_in,
  &-builtin-name,
  &-selector-attr,
  &-selector-id,
  &-selector-pseudo,
  &-string,
  &-template-variable,
  &-type,
  &-variable { color: var(--primary); }

  &-comment,
  &-deletion,
  &-meta { color: #0b6804; }
}

/* Markdown Body */
.markdown-body {
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.8em;
  color: var(--on-surface);
  font-style: normal;

  /* 标题 */
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--on-surface);
  }
  h1 { font-size: 2.5em; margin: 0 0 1.25em; line-height: 1.1111; }
  h2 { font-size: 1.875em; margin: 2.25em 0 1.125em; line-height: 1.3333; }
  h3 { font-size: 1.5em; margin: 2em 0 1em; line-height: 1.6; }
  h4 { font-size: 1.25em; margin: 1.875em 0 .875em; line-height: 1.5; }
  h5 { font-size: 0.875rem; }
  h6 { font-size: 0.75rem; font-weight: 700; color: #6a737d; }

  /* 链接 */
  a {
    color: var(--change-color);
    text-decoration: none;
    transition: color 0.35s, text-decoration 0.35s;
  }

  /* 列表 */
  ol, ul { padding: 0 15px; }
  ol ol, ul ol { list-style-type: lower-roman; }
  ol ol ol, ol ul ol, ul ol ol, ul ul ol { list-style-type: lower-alpha; }

  /* 图片 */
  img {
    max-width: 100%;
    display: block;
    margin: 30px auto 0;
    border-radius: var(--border-radius);
    background: #fff;
    box-sizing: content-box;
    @media (color-scheme: dark) { filter: brightness(0.7); }
  }

  /* 引用 */
  blockquote {
    padding: 10px 30px;
    font-size: 17px;
    line-height: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--surface-container-low);
    border-radius: var(--border-radius);
  }

  /* 代码块 */
  .highlight {
    background: var(--surface-container-low);
    border-radius: var(--border-radius);
    margin: 0;
    padding: 10px;
    table {
      display: block;
      width: 100%;
      overflow: auto;
      td, tr { padding: 0; border: none; }
    }
    .gutter pre {
      color: var(--on-secondary-container);
      padding: 5px;
      text-align: center;
    }
  }
  code {
    padding: 4px 6px;
    background: var(--surface-container-low);
    border-radius: var(--border-radius);
    font: 14px var(--fonts-sans-serif);
    word-break: break-all;
  }
  pre {
    word-wrap: break-word;
    font-family: var(--fonts-monospace);
    margin: 0;
    padding-left: 8px;
    &[class*="language-"] {
      color: var(--on-secondary-container);
      background: var(--surface-container-low);
      border-radius: var(--border-radius);
      overflow: auto;
      padding: 14px;
    }
  }

  /* 表格 */
  table { display: block; width: 100%; overflow: auto; }
  table th { font-weight: 700; padding: 6px 13px; }

  /* 文字样式 */
  strong { font-weight: 600; color: var(--text-color); }

  /* 表单 */
  input {
    font: inherit;
    margin: 0;
    overflow: visible;
  }
  [type=checkbox] { box-sizing: border-box; padding: 0; }

  /* 分隔线 */
  hr {
    margin: 15px 0;
    border: 0;
    border-bottom: 1px solid #eee;
    &::before, &::after {
      display: table;
      content: "";
    }
    &::after { clear: both; }
  }

  dd { margin-left: 0; }

  /* 键盘提示 */
  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 0.6875rem;
    line-height: 0.625rem;
    color: #444d56;
    vertical-align: middle;
    background: #fafbfc;
    border: 1px solid #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
  }

  /* 任务清单 */
  .task-list-item {
    list-style-type: none;
    + .task-list-item { margin-top: 3px; }
    input {
      margin: 0 0.2em 0.25em -1.6em;
      vertical-align: middle;
    }
  }

  /* 图片说明 */
  .image-caption {
    text-align: center;
    font-size: 16px;
    display: block;
    color: var(--on-secondary-container);
  }
}
